/* Hide scrollbar for Chrome, Safari and Opera */
body *::-webkit-scrollbar {
  display: none;
}

body * {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.onload {
  position: fixed;
  z-index: 800000000000000000000000000000000;
  height: 100vh;
  width: 100vw;
  background: #3e3d3d;
  font-family: "Inconsolata", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.onload p {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 80px;
}

.onload p span {
  color: black;
  font-weight: 900;
}
